.Action {
  flex: 1;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.BoolInput {
}

.SliceInput {
  width: 100%;
  display: flex;
}

.InputField {
  padding-top: 22px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.HeadlineIcon {
  margin-right: 10px;
  margin-left: 10px;
}

.InputWrapper {
  padding-top: 5px;
  padding-bottom: 5px;
}

.InputsWrapper {
  padding: 5px;
  padding-bottom: 20px;
}

.InputLabel {
  margin-bottom: 5px !important;
  font-size: 15px;
}

.ActionSendButtonWrapper {
  padding-top: 10px;
  padding-right: 3px;
  padding-left: 3px;
  display: flex;
  justify-content: flex-end;
}

.CardButton {
  margin-right: 8px;
}

.ResponsePanel {
  width: 100%;
  height: 300px;
}

.ResponsePanelTitle {
  padding-left: 10px;
}

.JsonWrapper {
  padding: 14px;
}

.object-key {
  color: #1e91d8 !important;
}
.string-value {
  color: #f2733e !important;
}
