.Action {
  flex: 1;
  min-width: 400px;
  width: 40%;
}

.BoolInput {
}

.SliceInput {
  width: 100%;
  display: flex;
}

.InputField {
  padding-top: 20px;
  padding-bottom: 3px;
  display: flex;
  flex-direction: column;
}

.HeadlineIcon {
  margin-right: 10px;
  margin-left: 10px;
}

.InputWrapper {
  padding-top: 5px;
  padding-bottom: 5px;
}

.InputsWrapper {
  padding: 5px;
  padding-bottom: 20px;
}

.InputLabel {
  font-size: 18px;
}
